body {
    background: linear-gradient(90deg,#FAB6B1, rgb(254, 232, 231));
    height: 100vh;
    /* display: flex; */
    /* position: relative; */
    /* font-family: ele; */
}

.getlad, .getlad:hover {
    font-family: 'Rock Salt', cursive;
    font-size: xx-large;
    color: black;
    text-decoration-line: none;
}


.footer-logo{
    font-size: xx-large;
    font-family: 'Rock Salt', cursive;
    color: black;
    margin-left: 12px;
}

#navbar_top {
    z-index: 999;
}

@media screen and (min-width: 400px) and (max-width: 700px)  {
    body{
        background: linear-gradient(90deg,#FAB6B1, rgb(254, 232, 231)  )  ;
        height: 150vh;
        /* display: flex; */
        position: relative;
        font-size: small !important;
    }
    #navbar_top{
        padding: 0;
        z-index: 999;
    }
    .navbar-container{
        padding-left: 16px !important;
        padding-top: 0 !important;
        /* padding-bottom: 0 !important; */
        padding-right: 0 !important;
        display: flex !important;
        align-content: center !important;
    }
    .navbar-left img {
        width: 50%;
        height: 50%;
    }
    .dropdown {
        margin-top: 15px;
    }
    .add{
        flex-wrap: nowrap !important;
        padding: 0 !important;
        align-items: unset !important;
    }
    .login, .logout, .loginEdit {
        font-size: small !important;
    }
}
.logo, .logo:hover{
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    margin-bottom: 5px;
    color: black;
    text-decoration-line: none;

}
.login, .login:hover, .login::selection, .logout, .logout:hover, .logout::selection, .loginEdit, .loginEdit:hover, .loginEdit::selection{
    background-color: #14365C ;
    color: white ;
    border: none ;

    font-size: 24px;
}
.toggle, .toggle::selection{
    border: none !important;
}
.navbar-left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width:250px;
}


.scrolled-down{
    transform:translateY(0%); transition: all 0.3s ease-in-out;
 }
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}
.navbar-brand{
    font-size: 24px;
}
.dropdown-item, .myEvent{
    font-size: 24px;
}

.pb-4, .py-4 {
    padding: 15px!important;
}

.my-sm-0 , .my-sm-0:hover{
    background-color: #14365C;
    color: white;
    border: none;
}

.hkMap {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.hkMap #map{
    border-radius: 15px;
    height: 78vh;
    width: 98vw;
}

.categoryFlexDiv {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 100px 0;
    flex-wrap: wrap;
}

.categoryCircle {
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263250;
    transition: 300ms;
    margin: 20px;
}

.categoryCircle:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.wordInCircle {
    color: white;
    font-size: 28px;
}

.searchBarFlex {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.categoryOption , .searchBar, .searchButton {
    border: 1px solid #757575;
    background-color: #f5f5f5cb;
    height: 70px;
    padding: 10px;
}

.categoryOption {
    border-radius: 10px 0 0 10px;
    border-right: none;
    width: 100px;
}

.searchBar {
    width: 500px;
}

.searchButton {
    border-radius: 0 10px 10px 0;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.searchButton:hover {
    cursor: pointer;
}

#magnifier {
    transition: 300ms;
    font-size: 20px;
}

#magnifier:hover {
    transform: scale(1.15);
}

.boldHr{
    border-top: 3px solid black;
}

.centerGridOption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.showGrid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.gridOption {
    border-radius: 8px;
    background-color: rgb(139, 139, 139, 0.8);
    color: white;
    padding: 2px;
    position: relative;
    transition: 100ms;
    margin-right: 20px;
}

.gridOption:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.gridChoiceFlex {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
}

.gridChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 2px;
    background-color:rgb(20, 54, 92);
    color: white;
    width: 30px;
    height: 30px;
    transition: 100ms;
}

.gridChoice:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.gridChoiceItem  {
    font-size: 20px;
}

.sortingTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0 0 0;
}

.row, .row2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cardFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border-radius: 15px;
    margin: 60px 20px 20px 20px;
    border: none;
}

.card-title {
    padding: 5px;
    margin: 0px;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    text-align: center;
}

h5 {
    margin: 0;
}

#description {
    color:rgba(0, 0, 0, 0.55);
    font-size: 13px;
}

.infoBar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

#participationRate {
    text-align: end;
}

.bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joinButton {
    background-color: rgb(20, 54, 92);
    border: none;
}

.unjoinButton {
    background-color: rgb(4, 102, 214);
    border: none;
}

.bookmark .fa-bookmark {
    color: #D8D6D9;
    font-size: 24px;
    transition: 200ms;
}

.bookmark .fa-bookmark:hover, .unBookmark .fa-bookmark:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.unBookmark .fa-bookmark {
    color: #F3C20C;
    font-size: 24px;
    transition: 200ms;
}

#map {
    height: 300px;
    width: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.showMore {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.showMoreButton {
    border: 1px solid black;
    padding: 5px;
    margin: 30px 60px 30px 30px;
    background-color: rgb(20, 54, 92);
    color: white;
}

.showMoreButton:hover {
    cursor: pointer;
    text-decoration: none;
}



footer{
    font-family: "PingFang HK",-apple-system,微軟正黑體,"Microsoft JhengHei",蘋果儷中黑,"Apple LiGothic Medium","儷黑 Pro","LiHei Pro Medium",sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    box-sizing: inherit;
    /* display: flex; */
    font-weight: 600;
    font-size: .75rem;
    color: #000000;
    background-color: #0000004d;
    z-index: 999;
    /* align-self: flex-end; */
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
.footer-container{
    font-family: "PingFang HK",-apple-system,微軟正黑體,"Microsoft JhengHei",蘋果儷中黑,"Apple LiGothic Medium","儷黑 Pro","LiHei Pro Medium",sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    font-weight: 600;
    font-size: .75rem;
    color: #000000;
    box-sizing: inherit;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
.footer-grid {
    font-family: "PingFang HK",-apple-system,微軟正黑體,"Microsoft JhengHei",蘋果儷中黑,"Apple LiGothic Medium","儷黑 Pro","LiHei Pro Medium",sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    font-weight: 600;
    font-size: .75rem;
    color: #fff;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.sidebar{
    font-family: "PingFang HK",-apple-system,微軟正黑體,"Microsoft JhengHei",蘋果儷中黑,"Apple LiGothic Medium","儷黑 Pro","LiHei Pro Medium",sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    font-weight: 600;
    font-size: .75rem;
    color: #000000;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.main clearfix{
    font-family: "PingFang HK",-apple-system,微軟正黑體,"Microsoft JhengHei",蘋果儷中黑,"Apple LiGothic Medium","儷黑 Pro","LiHei Pro Medium",sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    font-weight: 600;
    font-size: .75rem;
    color: #000000;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
.float-right {
    font-family: "PingFang HK",-apple-system,微軟正黑體,"Microsoft JhengHei",蘋果儷中黑,"Apple LiGothic Medium","儷黑 Pro","LiHei Pro Medium",sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    font-weight: 600;
    font-size: .75rem;
    color: #000000;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    float: right;
    height: 5.625rem;
}
.copyright, .website-intro{
    color: black;
    font-size: medium;
    margin-left: 15px;
}



/* innerHTML css */
.is-loading .logout, .is-guest .logout, .is-loading .loginEdit, .is-guest .loginEdit, .is-loading .myEvent, .is-guest .myEvent{
    display: none;
}


.is-member .login {
    display: none;
}


.is-loading .joinButton, .is-loading .unJoinButton, .is-loading .bookmark, .is-loading .unBookmark {
    display: none;
}


.is-guest .joinButton, .is-guest .unJoinButton, .is-guest .bookmark, .is-guest .unBookmark {
    display: none;
}


.is-member .joinButton, .is-member .unJoinButton, .is-member .bookmark, .is-member .unBookmark {
    display: block;
}


