@media screen and (min-width: 400px) and (max-width: 700px)  {
    .login, .logout, .loginEdit{
        font-size: small !important;
    }
    .logo{
        margin-bottom: 0;
    }
}
.login, .login:hover, .login::selection, .logout, .logout:hover, .logout::selection,.loginEdit, .loginEdit:hover, .loginEdit::selection{
    background-color: #14365C ;
    color: white ;
    border: none ;

    font-size: 24px;
}


/* innerHTML css */
.is-loading .logout, .is-guest .logout, .is-loading .loginEdit, .is-guest .loginEdit, .is-loading .myEvent, .is-guest .myEvent{
    display: none;
}



.is-member .login {
    display: none;
}


.is-loading .joinButton, .is-loading .unJoinButton, .is-loading .bookmark, .is-loading .unBookmark {
    display: none;
}



.is-guest .joinButton, .is-guest .unJoinButton, .is-guest .bookmark, .is-guest .unBookmark {
    display: none;
}



.is-member .joinButton, .is-member .unJoinButton, .is-member .bookmark, .is-member .unBookmark {
    display: block;
}